.mainInitialPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;

  height: 105vh;
  width: 50vw;

  background: #08ec5881;
  color: #f2f8ff;
}

.mainInitialPanel h1 {
    margin-top: 7rem;
}