.mainOrderPage {
  display: flex;

  height: 100vh;
  width: 100vw;

  background: #00a639;
  color: #f0f8ff;
}

.leftOrderPage {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 58vw;
  background-color: #039a38;
  height: 100%;
}

.leftOrderPage h2 {
  margin-top: 3rem;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  padding: 0.7rem;
  gap: 2rem;
}

.orderResume {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: 1rem;
  background: #34533f;
  overflow-y: auto;
}

.orderResume h2 {
  margin-top: 1rem;
}
.rightOrderPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 42vw;
}
.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  height: 100%;
  width: 80%;

  background: #f0f8ff;
  color: black;
  padding: 1rem;
  overflow-y: auto;

  gap: 1rem;
}

.ticket h4 {
  margin-top: 1.5rem;
  text-align: center;
}
.orderCart {
  display: flex;
  gap: 0.6rem;
  background: rgb(2, 138, 8);
  text-align: center;

  justify-content: center;
  align-items: center;

  margin: 0.1rem;

  border-radius: 0.8rem;
}
.orderCart p {
  padding: 0.5rem;
  font-size: 19px;
}
.remove {
  height: 100%;
  background: #970909;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 22px;
}
