.mainOrderPage {
  display: flex;

  height: 100vh;
  width: 100vw;

  background: #00a639;
  color: #f0f8ff;
}

.leftOrderPage {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 58vw;
  background-color: #039a38;
  height: 100%;
}

.leftOrderPage h2 {
    margin-top: 2rem;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    padding: .7rem;
    gap: 2rem
}

.orderResume {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    padding: 1rem;
    background: #34533f;
}

.orderResume h2 {
    margin-top: 1rem;
}
.rightOrderPage {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 42vw;
}
.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 90%;
    width: 80%;

    background: #f0f8ff;
    color: black;
    padding: 1rem;

    gap: 1rem;
}

.ticket h4 {
    margin-top: 1rem;
    text-align: center;
}
.orderCart {
    display: flex;
    gap: .6rem;
    background: rgb(2, 138, 8);
    text-align: center;

    justify-content: center;
    align-items: center;

    margin: .1rem;

    border-radius: .8rem;
}
.orderCart p {
    padding: .5rem;
    font-size: 19px;
}
.remove {
    height: 100%;
    background: #970909;
    padding: .5rem;
    cursor: pointer;
    font-size: 22px;
}